/* ---------------

            CRAETED BYE NEGAR GOLZAR

 */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lfu9k4');
  src:  url('fonts/icomoon.eot?lfu9k4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lfu9k4') format('truetype'),
    url('fonts/icomoon.woff?lfu9k4') format('woff'),
    url('fonts/icomoon.svg?lfu9k4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
    padding: 0;
    margin: 0;
    font-family: IRANSans;
    background-color: #f1eee7;
}
a{
    text-decoration: none !important;   
}
.nopadding{
    padding: 0 !important;
}
.navbar-toggle{
    float: left;
    margin-left:20px;
}
.navbar-link li{
    font-weight: bold;
    float: right !important;
    font-size: 14px;
    padding-top: 10px;
   z-index: 99;
    direction: rtl;
}
.navbar-right li{
    font-weight: bold;
    float: right;
    font-size: 14px;
    padding-top: 10px;
     z-index: 99;
}
.navbar{
      padding-top: 30px;
}

li.logo {
    height: 124px;
    margin-top: -14px;
    text-align: center;
    border: none;
}
.navbar-default{
   background-color: #f1eee7;
    border: none;
}
.navbar-default .navbar-toggle{
    border: none;
    margin-top: 18px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f1eee7;
}
.navbar{
    margin-bottom: 0;
}

.navbar-nav{
    margin:0; 
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #f05f44;
}
.navbar-left{
   color: #f05f44;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 125px;
}
.mobile-pic{
    position: absolute;
    left: 17%;
    top: 100px;

}
.laptop-pic{
    position: absolute;
    left:11%;
    top: 190px;
  
}
.first-page-baner-text{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 270px;
    left: 65%;
    line-height: 2;
    
}
.first-page-baner-text h4{
    padding-bottom: 10px;
    font-weight: bold;
     line-height: 1.5;
}
.banner{
    clear: both;
    position: relative;
    height: 600px;
}
.icons{
    text-align: center;
    font-size: 45px;
    direction: rtl;
    padding-top: 30px;
    padding-bottom: 30px;
}
.icons-box{
   height: 270px;
    background-color: transparent;
}
.icon-title{
    font-size: 12px;
}
.icons-up{
    padding:20px 0;
}
.icons-up:hover{
    background-color: #f05f44;
    width: 100%;
    height: auto;
    color: white;
    padding-top: 30px;
    padding-bottom: 5px;
}
.border-1{
    border: 1px solid #d8d6d1;
    width: 59%;
    height: 106px;
    transform: rotate(10deg);
    position: absolute;
    top: 33px;
    right: 19%;
    text-align: center;
    display: none;
     transition-delay: 5;
}
.icons-up:hover .border-1{
    display: block;
   
}
.border-2{
     border: 1px solid #d8d6d1;
    width: 59%;
    height: 106px;
    transform: rotate(165deg);
    position: absolute;
    top: 33px;
    right: 19%;
    text-align: center;
    display: none;
     transition-delay: 5;
}
.icons-up:hover .border-2{
    display: block;
   
}
.icons-up:hover p{
    display: block;
   
}
.icons-up p{
    display: none;
    font-size: 10px;
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
}
.back-part2{
    background-color: #383838;
    width: 100%;
    height: 150px;
   padding-bottom: 30px;
}
.back-part3{
    background-color: #383838;
    width: 100%;
    height: auto;
   padding-bottom: 30px;
}
.tx{
    text-align: center;
}
.icon-brif{
    color: white; 
    font-size: 17px !important;
    transform: rotate(-45deg);
    padding: 10px;
}
.green-little-box{
    background-color: #00a99d;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    border-radius: 2px;
    position: absolute;
    right: 50%;
    top: -20px;
     margin-right: -20px;

}
.logo-brand{
    width: 60px;
    height: 100px;
    padding-top: 40px;
}
.pd{
    padding-bottom: 50px;
}
.gray-part-title{
    padding: 50px 0px;
    text-align: center;
    height: auto;
    
}
.gray-part-title p{
    color: white;
    padding-top: 20px;
    font-size: 11px;
    direction: rtl;
}
.num{
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.num:after{
    content: "";
    width: 8px;
    height: 8px;
    background-color:#00a99d;
    position: absolute;
    right: 16%;
    top: 21%;
}
.num:before{
     content: "";
    width: 8px;
    height: 8px;
    background-color: #00a99d;
    position: absolute;
    left: 16%;
    top: 21%;
}
.check-icon{
    color: #00a99d;
    text-align: center;
    font-size: 17px !important;
}
.check-icon::befor{
    color: #00a99d;
    border-top: 1px solid white;
}
.dec-bottom{
    color: #827b7b;
    text-align: center;
    font-size: 10px;
}
.oragne-boxes{
    background-color: #e74e3e;
    color: white;
    text-align: right;
    direction: rtl;
    width: 100%;
    height: 280px;
    padding: 30px;
    float: right;    
}
.oragne-boxes:before {
    content: "";
   width: 0;
    height: 0;
      border-top: 20px solid transparent;
    border-right: 20px solid #e74e3e;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 115px;
    left: -5%;
}
.oragne-boxes-b{
        background-color: #e74e3e;
    color: white;
    text-align: right;
    direction: rtl;
    width: 100%;
    height: 280px;
    padding: 30px;
    float: right; 
    position: relative;
}
.oragne-boxes-b:after{
    content: "";
   width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #e74e3e;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 115px;
        right: -5%;
    z-index: 99;
}
.previous-icon{
        color: white;
    font-size: 20px;
    position: absolute;
    left: -3%;
    top: 65px;
}
.next-icon{
        color: white;
    font-size: 20px;
    position: absolute;
    top: 65px;
    right:-3%;
}

.img-box img{
    width: 100%;
    height: 280px;
    
}
.img-box img:hover{
 opacity: 0.5;

}
.line-icon{
    text-align: center;
}
.lines hr{
        position: relative;
    top: -27px;
    z-index: 1;
}

.title-gray{
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.title-green{
    color: #00a99d;
    font-weight: bold;
    font-size: 18px;
}
.go-link{
    color: white;
    font-size: 11px;
    text-align: right;
    direction: rtl;
    display: block;
    padding-top: 40px;
}
.catgory{
    font-size: 9px;
    
}
.hr-class{
    width: 30px;
    border-top: 3px solid white;
}
.mtn{
    font-size: 12px;
}
.title-gray-2{
    color: #797979;
    font-weight: bold;
    font-size: 18px;
}
.para-titile{
    color: #797979 !important;
    font-size: 10px;
    text-align: center;
}
.price-table{
    width: 100%;
    height: 500px;
}
.box-of-prices{
    width: 100%;
    height: auto;
    border: 1px solid #d4cccc;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.price-up-box{
    width: 60%;
    height: 40px;
    padding: 10px;
    background-color: #383838;
    color: White;
    text-align: center;
    position: absolute;
    position: absolute;
    left: 20%;
    top: -20px;
    border-radius: 5px;    
}
.price{
    text-align: center;
    padding-top: 50px;
    direction: rtl;
    border-bottom: 1px solid #d4cccc;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.price-text{
    font-weight: bold;
    font-size: 28px;
}
.price-con{
    font-size: 10px;
}
.poan-of-service{
    text-align: center;
    direction: rtl;
    padding-top: 10px;
    line-height: 3;
    border-bottom: 1px solid #d4cccc;
    margin-right: 10px;
    margin-left: 10px;
}
.sign-btn{
    background-color: #39a38f;
    padding: 10px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    border-radius:5px;
}
.sign-in{
    text-align: center;
    padding: 10px;
}
.premium{
    background-color: #39a38f !important;
}
.star-price{
    font-size: 18px!important;
    color: #39a38f;
    padding: 2px;
}
.green-back{
    background-color: #39a38f !important;
    width: 100%;
    height: 400px;
}
 .box-of-connect-us{
     background-color:#ffffff;
     position: absolute;
     top: -130px;
     text-align: center;
      width: 100%;
    height: auto;
    border-radius: 5px;
       padding-bottom: 30px;
    padding-top: 20px;
  
    }
.connect-part-back{
    background-color: #f0f0f0;
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
    position: relative;
        
}
.inputs-part lable{
    float: right;
    padding: 10px;
}
.inp{
    border: 1px solid #e2e2e2;
    float: right;
    direction: rtl;
    padding: 10px;
    border-radius: 5px;
}
.message{
height: 150px;
overflow: auto;
}
.btn-snd{
 
    padding: 10px;
}
.send-btn{
    background-color: #39a38f;
    color: white;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
}
.title-connect-to-us{
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    
}
.content-connect-to-us{
    text-align: center;
    font-size: 14px;
    direction: rtl;
}
.icons-connect{
    font-size: 45px !important;
    color: #39a38f;
    float:right;
    margin-top: -15px;
    padding-left: 10px;
}
.location span{
    font-size: 13px;
    text-align: justify!important;
}
.location p{
    display: inline;
    padding-right: 20px;
    text-align: justify;
}
.location{
    padding-top: 50px;
}
.footer{
    background-color: #333333;
    width: 100%;
    height: auto;
    padding: 40px;
    padding-bottom: 60px;
    
}
.about-us{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding-bottom: 20px;
}
.about-us-content{
    color: white;
    text-align: right;
    line-height: 1.5;
    font-weight: normal;
    font-size: 12px;
}
.tag-boxs{
    text-decoration: none;
    color: white;
    width: 20px;
    height: auto;
    text-align: center;
    background-color: #3d3d3d;
    font-size: 11px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tags{
    text-align: center;
}
.tag-boxs span{
    padding: 10px;
}
.tah-boxs:hover{
    color: white;
}
.news-img{
    width: 40px;
    height: 40px;
    float: right;
}
.news-contant{
    color: white;
    text-align: right;
    direction: rtl;
    
}
.news-lett-label{
      width: 20%;
    height: 31px;
    background-color: #39a38f;
    display: inline-block;
    position: relative;
    top: -31px;
    right: 0px;
    text-align: center;
    padding: 6px 0;
    border: none;
    outline: none;
}
.tele-icon{
     background-color: #39a38f;
    text-align: center;
    font-size: 18px !important;
}
.news{
    padding-top: 10px;
}
.footer-email{
    background-color: #424242;
    border: none;
    outline: none;
    padding: 8px;
    position: relative;
    width: 100%;
    font-size: 10px;
    direction: rtl;
    color: white;
    
}
.hr-footer{
    margin: 0 20px;
    border-top: 2px solid #424242;
    margin-top: 30px;
}
.footer-links{
    color: white;
    text-decoration: none;
    float: right;
    direction: rtl;
    padding: 10px;
}
.copyright{
    float: left;
    color:#3569b3;
    font-size: 10px;
    padding: 10px;
}
/*-------------------------------------------------post-page-----------------------------------------*/
body{
       background-color: #f0f0f0;
}
.header-img{
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background-color: black;
    background-image: url(img/post.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-img{
    background-color: black;
}
.banner-img span{
    opacity: 1;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    z-index: 99;
     border-bottom: 4px solid white;
    padding-bottom: 10px;
    position: absolute;
    top: 165px;
    right: 50%;
    margin-right: -180px;
    font-weight: bold;
}
.back-color{
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
}
.posts{
    background-color: #f0f0f0;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.center-box{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 1px 1px 2px gray;
margin-top: -70px;
    padding: 20px;
     padding-bottom: 20px;
    margin-bottom: 50px;
    
}
.img-box img{
    width: 100%;
    height: auto;
    float: right;
}
.category-1{
    text-decoration: none;
    color: white;
    background-color: #ce0393;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    float: right;
    margin: 5px;
    font-size: 10px;
    
}
.date-of-post{
    float: right;
       margin: 5px;
    margin-top: 8px;
    direction: rtl;
}
.content-post-box p{
    direction: rtl;
    text-align: justify;
    
}
.content-post-box{
   padding-top: 10px;
}
.box-of-button-post{
    padding: 10px;
    background-color: white;
    direction: rtl;
    margin-bottom: 25px;
    border-bottom: 4px solid white;
    
}

.box-of-button-post img{
    width: 100%;
    height: auto;
    background-color: #66b3a8;
}
.img-posts-1{
    width: 100%;
    height: auto;
    background-color: #66b3a8;
}
.box-of-button-post:hover img{
    opacity: 0.5;
  
}
.box-of-button-post h5{
    font-weight: bold;
    text-align: right;
    direction: rtl;
}
.box-of-button-post p{
    text-align: right;
    
}
.box-of-button-post a{
    text-decoration: none;
    color: white;
    background-color: #c5c5c5;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}

.box-of-button-post:hover{
    border-bottom: 4px solid #39a38f;

}











@media only screen and (max-width:770px){
    .go-link{
        padding-top: 15px;
    }
    .oragne-boxes{
        padding: 10px 15px;
    }
}
@media only screen and (max-width:992px){
    .icons-box{
        height: 480px!important;
    }
    .icons-up{
        padding: 50px 0!important;
    }
    .navbar-right {
    margin-right: 118px;
    margin-top: -50px;
    }
}
@media only screen and (max-width:480px){
    .banner-img span{
            margin-right: -130px;
        font-size: 22px;
        top: 100px;
        
    }
    .connect-part-back{
        height: 830px;
    }
    .first-page-baner-text{
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 390px;
    left: 0;
    line-height: 2;
    
}
    .navbar-left {
    position: absolute;
    right: 50%;
    margin-right: -61px;
    top: 0px;
    font-size: 23px !important;
}
   .mtn{
        line-height: 3.5;
    }
    .navbar-default .navbar-toggle{
        margin-top: -17px;
    }
    .oragne-boxes-b:after{
        display: none;
    }
    .laptop-pic img{
        width: 270px;
        
    }
    .mobile-pic img{
        width: 130px;
    }
   
 .navbar-nav>li>a:hover{
     color: white!important;
    }

    .navbar-default{
   background-color: black;
     
    border: none;
}
    .navbar-right{
      margin-top: -10px !important;  
    margin-right: 0 !important;
    }
    .navbar-right li {
    direction: ltr;
    text-align: right;
    float: none;
    }
   
    .box-of-connect-us{
        width: 90%;
    }
    .num{
        font-size: 35px!important;
    }
    .copyright{
        display: block;
        float: none;
    }
    .footer-links{
        padding: 1px;
        font-size: 10px;
    }
    .footer{
        padding: 10px;
        padding-bottom: 30px;
    }

